name: PHP Composer

on:
    pull_request:
    push:
        branches:
            - master
            - dev

jobs:
    build:
        strategy:
            matrix:
                operating-system: [ubuntu-latest]
                php-versions: ['7.0', '7.1', '7.2', '7.3', '7.4']

        runs-on: ${{ matrix.operating-system }}

        steps:
            - uses: actions/checkout@v2

            - name: Get composer cache directory
              id: composer-cache
              run:
                  echo "::set-output name=dir::$(composer config
                  cache-files-dir)"
            - name: Cache composer dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key:
                      ${{ runner.os }}-composer-${{
                      hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install dependencies
              run:
                  composer install --no-progress --no-suggest --prefer-dist
                  --optimize-autoloader
            - name: Unit Test
              run: composer run-script test

            - name: phpcs
              run: composer run-script phpcs
